doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Image Uploader
        link(rel="stylesheet" href="/static/css/bootstrap@5.0.0-beta1/bootsrap.min.css")
    body
        .wrapper 
            h1 Image Uploader